<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xljk.learn.dao.MQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.xljk.learn.entity.MQuestion" >
    <id column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="question_title" property="questionTitle" jdbcType="VARCHAR" />
    <result column="question_A" property="questionA" jdbcType="VARCHAR" />
    <result column="question_B" property="questionB" jdbcType="VARCHAR" />
    <result column="question_C" property="questionC" jdbcType="VARCHAR" />
    <result column="question_D" property="questionD" jdbcType="VARCHAR" />
    <result column="question_key" property="questionKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    question_id, article_id, question_title, question_A, question_B, question_C, question_D, 
    question_key
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_question
    where question_id = #{questionId,jdbcType=INTEGER}
  </select>
    <select id="selectAllByAid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List" />
      from m_question
      where article_id = #{articleId,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_question
    where question_id = #{questionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xljk.learn.entity.MQuestion" >
    insert into m_question (question_id, article_id, question_title, 
      question_A, question_B, question_C, 
      question_D, question_key)
    values (#{questionId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{questionTitle,jdbcType=VARCHAR}, 
      #{questionA,jdbcType=VARCHAR}, #{questionB,jdbcType=VARCHAR}, #{questionC,jdbcType=VARCHAR}, 
      #{questionD,jdbcType=VARCHAR}, #{questionKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xljk.learn.entity.MQuestion" >
    insert into m_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="questionTitle != null" >
        question_title,
      </if>
      <if test="questionA != null" >
        question_A,
      </if>
      <if test="questionB != null" >
        question_B,
      </if>
      <if test="questionC != null" >
        question_C,
      </if>
      <if test="questionD != null" >
        question_D,
      </if>
      <if test="questionKey != null" >
        question_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null" >
        #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="questionA != null" >
        #{questionA,jdbcType=VARCHAR},
      </if>
      <if test="questionB != null" >
        #{questionB,jdbcType=VARCHAR},
      </if>
      <if test="questionC != null" >
        #{questionC,jdbcType=VARCHAR},
      </if>
      <if test="questionD != null" >
        #{questionD,jdbcType=VARCHAR},
      </if>
      <if test="questionKey != null" >
        #{questionKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xljk.learn.entity.MQuestion" >
    update m_question
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="questionTitle != null" >
        question_title = #{questionTitle,jdbcType=VARCHAR},
      </if>
      <if test="questionA != null" >
        question_A = #{questionA,jdbcType=VARCHAR},
      </if>
      <if test="questionB != null" >
        question_B = #{questionB,jdbcType=VARCHAR},
      </if>
      <if test="questionC != null" >
        question_C = #{questionC,jdbcType=VARCHAR},
      </if>
      <if test="questionD != null" >
        question_D = #{questionD,jdbcType=VARCHAR},
      </if>
      <if test="questionKey != null" >
        question_key = #{questionKey,jdbcType=VARCHAR},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xljk.learn.entity.MQuestion" >
    update m_question
    set article_id = #{articleId,jdbcType=INTEGER},
      question_title = #{questionTitle,jdbcType=VARCHAR},
      question_A = #{questionA,jdbcType=VARCHAR},
      question_B = #{questionB,jdbcType=VARCHAR},
      question_C = #{questionC,jdbcType=VARCHAR},
      question_D = #{questionD,jdbcType=VARCHAR},
      question_key = #{questionKey,jdbcType=VARCHAR}
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
</mapper>